body {
    font-family: Arial;
    background: #eafaf1;
}

.hero {
    background: #0b6b3a;
    color: white;
    padding: 80px;
    text-align: center;
}

a {
    background: white;
    color: #0b6b3a;
    padding: 10px 20px;
    margin: 10px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

form {
    width: 300px;
    margin: auto;
    padding: 20px;
    background: white;
}

input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
}

button {
    background: #0b6b3a;
    color: white;
    padding: 10px;
    border: none;
    width: 100%;
}

table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
}

th {
    background: #0b6b3a;
    color: white;
}